<%=link_to(new_whisper_path) do %>
    <button class="btn btn-secondary btn-lg" >new</button>
 <%end%>
<h2>#log</h2>
<% @whispers.each do |whisper|%>
    <div class="hiyoko_whisper">
        <div class="hiyoko_icon">
            <img src = "assets/hiyoko.png">
        </div>       
        <div class = "whispering">
            <div class = "says">
                <p><%= whisper.content %></p>
            </div>
        </div>
    </div>
    
<%=link_to(new_whisper_path) do %>
    <button class="btn btn-secondary btn-lg" >edit</button>
 <%end%>  
 <%=link_to(whisper_path(whisper.id), method: :delete, data: {confirm:'really?'}) do %>
    <button class="btn btn-secondary btn-lg" >delete</button>
 <%end%>
<% end%>
<%#<%= link_to 'new', new_whisper_path%>
