<!DOCTYPE html>
<html>
  <head>
    <title>App8kadai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "wrapper">
      <header>
        <img src = '/hed3.jpg', class = "img_hed">
      </header>
      <div class = "main_body">
        <%= yield %>
      </div>
      <footer>
        <img src = '/foot.jpg', class = "img_foot">
      </footer>
    </div>
  </body>
</html>
